body .markdown-selection a {
    color: #4183c4;
}

body .book-summary .book-summary-logo {
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border-bottom: none;
}

.book-summary-logo img{
    display: none;
}