.book-summary-logo {
    background: url(https://pbs.twimg.com/profile_images/944717552290226176/zBF2n9zr_400x400.jpg);
    display: none;
    width: 0px;
    height: 0px;
    resize: both;
    overflow: auto;
}

.header {
    display: none;
}